In [1]:
import pandas as pd
import os

# 1. Definiera sökvägen till filen
file_path = os.path.join('data', 'df_planned_2025-10-24.parquet')

try:
    # 2. Läs in Parquet-filen till en DataFrame
    df_trips = pd.read_parquet(file_path)
    
    print(f"✅ Filen '{file_path}' laddades in framgångsrikt.")
    print(f"Antal rader i DataFrame: {len(df_trips):,}")
    print("\nFörsta 5 raderna:")
    
    # 3. Skriv ut de första 5 raderna för att inspektera datat
    display(df_trips.head())
    
    # 4. Visa information om kolumner och datatyper (bra för datatvätt)
    print("\nKolumninformation:")
    df_trips.info()
    
except FileNotFoundError:
    print(f"❌ Fel: Filen hittades inte på sökvägen '{file_path}'. Kontrollera filnamnet och mappen.")
except Exception as e:
    print(f"❌ Ett oväntat fel uppstod: {e}")

✅ Filen 'data\df_planned_2025-10-24.parquet' laddades in framgångsrikt.
Antal rader i DataFrame: 2,814

Första 5 raderna:

,AdvertisedTrainIdent,service_date,Tripdate,start_planned,end_planned,duration_minutes,start_station,end_station,stops_count,through_stations,...,ToLocations,start_operator,start_owner,start_typeoftraffic,start_deviation,start_hour,start_weekday_,start_mounth,is_weekday,distance_km
0,1,2025-10-24,2025-10-24,2025-10-24 22:56:00,2025-10-24 23:27:00,31.0,NR,LP,2,"NR,LP",...,Mc,SJ,SJ,None,None,22,4,10,1,38.017
1,1,2025-10-25,2025-10-25,2025-10-25 01:16:00,2025-10-25 04:59:00,223.0,N,MC,6,"N,AV,HM,HB,LU,MC",...,Mc,SJ,SJ,None,None,1,5,10,0,249.538
2,10,2025-10-25,2025-10-25,2025-10-25 08:52:00,2025-10-25 17:51:00,539.0,CST,DU,13,"CST,VÅ,SHV,HKL,SUC,ÅG,BÄ,ÖS,KRM,JPN,UN,ÅRE,DU",...,Du,SJ,SJ,None,None,8,5,10,0,527.675
3,1001,2025-10-25,2025-10-25,2025-10-25 01:49:00,2025-10-25 02:09:00,20.0,LU,HIE,5,"LU,BLV,MC,TRI,HIE",...,Dk.kh,TDEV,Ö-TÅG,None,None,1,5,10,0,20.757
4,1004,2025-10-25,2025-10-25,2025-10-25 03:18:00,2025-10-25 03:39:00,21.0,HIE,LU,5,"HIE,TRI,MC,BLV,LU",...,Lu,TDEV,SKANE,None,None,3,5,10,0,20.757

Kolumninformation:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2814 entries, 0 to 2813
Data columns (total 24 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   AdvertisedTrainIdent  2814 non-null   object
 1   service_date          2814 non-null   datetime64[ns]
 2   Tripdate              2814 non-null   datetime64[ns]
 3   start_planned         2814 non-null   datetime64[ns]
 4   end_planned           2814 non-null   datetime64[ns]
 5   duration_minutes      2814 non-null   float64
 6   start_station         2814 non-null   object
 7   end_station           2814 non-null   object
 8   stops_count           2814 non-null   int64
 9   through_stations      2814 non-null   object
 10  any_canceled          2814 non-null   Int8
 11  Operator              2814 non-null   object
 12  TrainOwner            2413 non-null   object
 13  FromLocations         2814 non-null   object
 14  ToLocations           2814 non-null   object
 15  start_operator        2814 non-null   object
 16  start_owner           2413 non-null   object
 17  start_typeoftraffic   0 non-null      object
 18  start_deviation       0 non-null      object
 19  start_hour            2814 non-null   int64
 20  start_weekday_        2814 non-null   int64
 21  start_mounth          2814 non-null   int64
 22  is_weekday            2814 non-null   int64
 23  distance_km           2814 non-null   float64
dtypes: Int8(1), datetime64[ns](4), float64(2), int64(5), object(12)
memory usage: 511.3+ KB

In [3]:
df_trips['any_canceled'].value_counts()

any_canceled
0    2660
1     154
Name: count, dtype: Int64